.Order {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
}

.Order span {
    margin: 0 3px;
    border: 0.5px solid #eee;
    text-transform: capitalize;
    padding: 0.6px;
    display: inline-block;
}