.BuildControls {
    width: 100%;
    background-color: #cf8f2e;
    display: flex;
    flex-flow: column;
    text-align: center;
    shape-outside: 0 2px 1px #cccccc;
    margin: 0;
    padding: 10px 0;
}